.circle-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.stages {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.stage {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.3s;
  background-color: rgb(211, 212, 212);
  font-size:7.5px;
}

.stage.active {
  background-color: #4CAF50;
  color: white;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #a19494;
}
