/* Footer container */
.footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Social media icons container */
  .social-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  /* Social media icons */
  .icon {
    color: #4f4e4e;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  /* Hover effect for icons */
  .icon:hover {
    color: #2e1e77;
    transform: scale(1.1);
  }
  
  /* Contact information section */
  .contact-info {
    margin-top: 10px;
  }
  
  /* Contact links */
  .contact-link {
    color: #4f4e4e;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for contact links */
  .contact-link:hover {
    color: #2e1e77;
  }
  
  /* Copyright text */
  .copy-text {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  